<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883779360955-4df3su8k2btue1u93uq581g0ang1n85r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883779360955-4df3su8k2btue1u93uq581g0ang1n85r</string>
	<key>API_KEY</key>
	<string>AIzaSyA35L6gGBAZ_54-sA1z_l7cKUGAsxZy27M</string>
	<key>GCM_SENDER_ID</key>
	<string>883779360955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anildev.flicbuttonapp</string>
	<key>PROJECT_ID</key>
	<string>ayush-im-safe</string>
	<key>STORAGE_BUCKET</key>
	<string>ayush-im-safe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883779360955:ios:f541af9bf54e5540</string>
	<key>DATABASE_URL</key>
	<string>https://ayush-im-safe.firebaseio.com</string>
</dict>
</plist>